<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="admin.css">
</head>
<body>
    <div class="nav-sidebar">
        <header>
            <div class="img-text">
                <span class="img">
                    <img src="/img/icon/LogoSecondP.jpg" alt="">
                </span>
                <div class="text header-text">
                    <span class="name">C L O S E T</span>
                </div>
            </div>
        <i class="toggle">></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="links">
                    <li class="nav-link">
                        <a href=""> 
                            <i class="logo"></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href=""> 
                            <i class="logo"></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href=""> 
                            <i class="logo"></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href=""> 
                            <i class="logo"></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href=""> 
                            <i class="logo"></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href=""> 
                            <i class="logo"></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>

</body>
</html>