<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <footer>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <h3>Theo dõi chúng tôi</h3>
              <ul>
                <li>
                  <a href="https://www.facebook.com/profile.php?id=100013900096508" title="Facebook">
                    <img src="../img/icon/facebook.png" alt=""></a></li>
                <li>
                  <a href="" title="Instagram">
                    <img src="../img/icon/instagram.png" alt=""></a></li>
                <li><a href="" title="Messenger"><img src="../img/icon/messenger.png" alt=""></a></li>
                <li><a href="" title="Tiktok"><img src="../img/icon/tik-tok.png" alt=""></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="coppyright">
          © Copyright 2024 
          <a href="https://github.com/tntgoku/jessica.github.io" title="Ahihiihih">VSS Corporation</a>. All right reserved
        </div>
      </footer>
</body>
</html>