<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/reponse.css">
    <link rel="stylesheet" href="../css/stylesize.css">
    <title>CloSet</title>
    
    </head>
    <body>
      <div class="header-top">
        <div class="topbar-right">
          <!-- ----SEARCH-BOX--- -->
          <div class="search-box">
            <form action="get" enctype="application/x-www-form-urlencoded">
              <input type="text" name="search" id="search-input" placeholder="Tìm kiếm sản phẩm....">
              <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                </div>
                <!-- ---LOGIN--- -->
                <div class="login">
                  <a href="login.php" ><label for="">Đăng nhập</label> </label><i class="fa-regular fa-user"></i></a>
                  </div>
                  <!-- ---cart-shopping--- -->
                  <div class="cart-shopping">
                    <a href="">
                      <i class="fa-solid fa-cart-shopping"></i>
                      <span class="count_item_pr hidden-count" style="padding-left:  3px;">0</span></a>
                      <div class="top-cart-content">
                          <div class="CartHeaderContainer" style="width: 340px;">
                            <div class="cart--empty--message" style="text-align: center;">
                                  <img src="../img/shopping-bag.png" alt="" width="80px">
                                  <p>Không có sản phẩm nào trong giỏ hàng của bạn</p>
                                  </div>  
                                  </div>
                                  </div>
                                  </div>
                                  </div>
      </div>
                                  
                                  <!-- header-nav -->
      <nav class="header-nav container">
      <h1>C L O S E T</h1>
        <ul class="nav-list">
          <li><a href="index1.php">TRANG CHỦ</a></li>
          <li><a href="change.html">CHÍNH SÁCH ĐỔI TRẢ</a></li>
          <li><a href="index.php">
            <img src="../img/icon/LogoSecondP.jpg" alt="" width="100px"></a></li>
            <li><a href="size.html">BẢNG SIZE</a></li>
            <li><a href="store.html">HỆ THỐNG CỬA HÀNG</a></li>
        </ul>
        <div class="close-menu ">
          <div class="title d-lg-none d-block">MENU</div>
          <div class="menu-slider">
              <ul>
                <li><a href="allproducts.html">Tất cả sản phẩm</a></li>
                <li><a href="allproducts.html">Áo Thun</a></li>
                <li><a href="allproducts.html">Baby Tee</a></li>
                <li><a href="allproducts.html">Áo Polo</a></li>
                <li><a href="allproducts.html">Áo Sơ Mi</a></li>
                <li><a href="allproducts.html">Áo Khoác</a></li>
                <li><a href="allproducts.html">Hoodie</a></li>
                </ul>
          </div>
        </div>  
      </nav>
<!-- SIZE -->
<section class="section_products container">
    <div class="container">
      <h2 class="cata-title">Bảng size</h2>
      <div class="title-brand">
          <h4>C L O S E T </h4>
          <h5>Bảng size</h5>
          <p>Form của C L O S E T là form rộng với người Việt Nam nên không cần thiết phải nhích size</p>
      </div>
      <div class="review">
        <div class="col-3 table1">
          <div class="height-row">
            <span class="title"><p>cm/kg</p></span>
            <span class="height"><p> &lt;1m62 </p></span>
            <span class="height"><p>1m65-1m72</p></span>
            <span class="height"><p> &gt;1m72 </p></span>
          </div>
        </div>  
        <div class="col-3 table2">
          <div class="size-row">
            <span class="title"><p>&lt;58kg</p></span>
            <span class="size"><p> M </p></span>
            <span class="size"><p>M</p></span>
            <span class="size"><p> L </p></span>
          </div>
        </div>
        <div class="col-3 table1">
          <div class="height-row">
            <span class="title"><p>59-68kg</p></span>
            <span class="height"><p> M </p></span>
            <span class="height"><p>L</p></span>
            <span class="height"><p> L </p></span>
          </div>
        </div>  
        <div class="col-3 table1">
          <div class="size-row">
            <span class="title" ><p style="background: #D9D9D9;">69-85kg</p></span>
            <span class="size"><p> M/L </p></span>
            <span class="size"><p>XL</p></span>
            <span class="size"><p> XL </p></span>
          </div>
        </div>
      </div>
      <div class="review-all">
        <div class="title">
          <h3 class="cate-title">Thông số chi tiết</h3>
        </div>
        <div class="product-main " >
          
          <div class="product-item1">
            <div class="single-img col-3">
            <div class="title" style="text-align: center;"><h3>Áo Thun</h3></div>
            <div class="img-fluid">
              <img src="../img/item/a1.jpg" alt="" width="100%">
            </div>
            </div>
            <div class="size-name col-9" >
              <table style="width: 100%;">
                <tr >
                  <td class="size1">SIZE
                  </td>
                  <td style="color: #0E6D67D9;">
                    M
                  </td>
                  <td style="background-color: #D9D9D9; color: #0E6D67D9;">
                    L
                  </td>
                  <td style="color: #0E6D67D9;">
                    XL
                  </td>
                </tr>
                <tr>
                  <td class="size1">
                    Ngang ngực
                  </td>
                  <td>
                    53>
                  </td>
                  <td style="background-color: #D9D9D9;">
                    56
                  </td>
                  <td>
                    59
                  </td>
                </tr>
                <tr>
                  <td class="size1">
                    Dài áo
                  </td>
                  <td>
                    70
                  </td>
                  <td style="background-color: #D9D9D9;"">
                    73
                  </td>
                  <td>76
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="product-item1">
            <div class="single-img col-3">
              <div class="title" style="text-align: center;"><h3>Áo Thun</h3></div>
              <div class="img-fluid">
                <img src="../img/item/a1.jpg" alt="" width="100%">
              </div>
            </div>
            <div class="size-name col-9" >
                <table style="width: 100%;">
                  <tr >
                    <td class="size1">SIZE
                    </td>
                    <td style="color: #0E6D67D9;">
                      M
                    </td>
                    <td style="background-color: #D9D9D9; color: #0E6D67D9;">
                      L
                    </td>
                    <td style="color: #0E6D67D9;">
                      XL
                    </td>
                  </tr>
                  <tr>
                    <td class="size1">
                      Ngang ngực
                    </td>
                    <td>
                      53>
                    </td>
                    <td style="background-color: #D9D9D9;">
                      56
                    </td>
                    <td>
                      59
                    </td>
                  </tr>
                  <tr>
                    <td class="size1">
                      Dài áo
                    </td>
                    <td>
                      70
                    </td>
                    <td style="background-color: #D9D9D9;"">
                      73
                    </td>
                    <td>76
                    </td>
                  </tr>
                </table>
            </div>
          </div>
          <div class="product-item1">
            <div class="single-img col-3">
            <div class="title" style="text-align: center;"><h3>Áo Thun</h3></div>
            <div class="img-fluid">
              <img src="../img/item/a1.jpg" alt="" width="100%">
            </div>
            </div>
            <div class="size-name col-9" >
              <table style="width: 100%;">
                <tr >
                  <td class="size1">SIZE
                  </td>
                  <td style="color: #0E6D67D9;">
                    M
                  </td>
                  <td style="background-color: #D9D9D9; color: #0E6D67D9;">
                    L
                  </td>
                  <td style="color: #0E6D67D9;">
                    XL
                  </td>
                </tr>
                <tr>
                  <td class="size1">
                    Ngang ngực
                  </td>
                  <td>
                    54
                  </td>
                  <td style="background-color: #D9D9D9;">
                    56
                  </td>
                  <td>
                    59
                  </td>
                </tr>
                <tr>
                  <td class="size1">
                    Dài áo
                  </td>
                  <td>
                    70
                  </td>
                  <td style="background-color: #D9D9D9;"">
                    73
                  </td>
                  <td>76
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="product-item1">
            <div class="single-img col-3">
              <div class="title" style="text-align: center;"><h3>Áo Thun</h3></div>
              <div class="img-fluid">
                <img src="../img/item/a1.jpg" alt="" width="100%">
              </div>
            </div>
            <div class="size-name col-9" >
                <table style="width: 100%;">
                  <tr >
                    <td class="size1">SIZE
                    </td>
                    <td style="color: #0E6D67D9;">
                      M
                    </td>
                    <td style="background-color: #D9D9D9; color: #0E6D67D9;">
                      L
                    </td>
                    <td style="color: #0E6D67D9;">
                      XL
                    </td>
                  </tr>
                  <tr>
                    <td class="size1">
                      Ngang ngực
                    </td>
                    <td>
                      53
                    </td>
                    <td style="background-color: #D9D9D9;">
                      55
                    </td>
                    <td>
                      58
                    </td>
                  </tr>
                  <tr>
                    <td class="size1">
                      Dài áo
                    </td>
                    <td>
                      70
                    </td>
                    <td style="background-color: #D9D9D9;"">
                      73
                    </td>
                    <td>76
                    </td>
                  </tr>
                </table>
            </div>
          </div>

          <div class="product-item1">
            <div class="single-img col-3">
            <div class="title" style="text-align: center;"><h3>Áo Thun</h3></div>
            <div class="img-fluid">
              <img src="../img/item/a1.jpg" alt="" width="100%">
            </div>
            </div>
            <div class="size-name col-9" >
              <table style="width: 100%;">
                <tr >
                  <td class="size1">SIZE
                  </td>
                  <td style="color: #0E6D67D9;">
                    M
                  </td>
                  <td style="background-color: #D9D9D9; color: #0E6D67D9;">
                    L
                  </td>
                  <td style="color: #0E6D67D9;">
                    XL
                  </td>
                </tr>
                <tr>
                  <td class="size1">
                    Ngang ngực
                  </td>
                  <td>
                    63
                  </td>
                  <td style="background-color: #D9D9D9;">
                    65
                  </td>
                  <td>
                    67
                  </td>
                </tr>
                <tr>
                  <td class="size1">
                    Dài áo
                  </td>
                  <td>
                    72
                  </td>
                  <td style="background-color: #D9D9D9;"">
                    74
                  </td>
                  <td>76
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="product-item1">
            <div class="single-img col-3">
              <div class="title" style="text-align: center;"><h3>Áo Thun</h3></div>
              <div class="img-fluid">
                <img src="../img/item/a1.jpg" alt="" width="100%">
              </div>
            </div>
            <div class="size-name col-9" >
                <table style="width: 100%;">
                  <tr >
                    <td class="size1">SIZE
                    </td>
                    <td style="color: #0E6D67D9;">
                      M
                    </td>
                    <td style="background-color: #D9D9D9; color: #0E6D67D9;">
                      L
                    </td>
                    <td style="color: #0E6D67D9;">
                      XL
                    </td>
                  </tr>
                  <tr>
                    <td class="size1">
                      Ngang ngực
                    </td>
                    <td>
                      60>
                    </td>
                    <td style="background-color: #D9D9D9;">
                      63
                    </td>
                    <td>
                      66
                    </td>
                  </tr>
                  <tr>
                    <td class="size1">
                      Dài áo
                    </td>
                    <td>
                      70
                    </td>
                    <td style="background-color: #D9D9D9;"">
                      73
                    </td>
                    <td>76
                    </td>
                  </tr>
                </table>
            </div>
          </div>
        </div>
        
    </div>
      <!-- FOOTER -->
      <footer>
        <div class="container-xl">
          <div class="row"> 
            <div class="col-sm">
              <h3>C L O S E T</h3>
              <ul>
                <li><p>Địa chỉ: Số 54, Triều Khúc, Thanh Xuân, Hà Nội</p></li>
                <li><p>Email: nguyenthutrang2762004@gmail.com</p></li>
                <li><p>Hotline: 0382572004 </p></li>
                <li>123</li>
                </ul>
                </div>
                <div class="col-md">
                  <h3>Đăng ký</h3>
                  <ul>
                    <li>
                      <div class="register-email">
                        <form action="get" enctype="application/x-www-form-urlencoded">
                          <input type="email" name="search" id="search-input" placeholder="Nhập địa chỉ Email....">
                          <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
                          </form>
                          </div></li>
                          <li><p>Theo dõi C L O S E T từ các nền tảng khác nhau nhé!</p></li>
                          <li>
                            <ul class="icon-logo">
                              <li>
                                <a href="https://www.facebook.com/profile.php?id=100013900096508" title="Facebook">
                                  <img src="../img/icon/facebook.png" alt=""></a></li>
                                  <li>
                                    <a href="" title="Instagram">
                                      <img src="../img/icon/instagram.png" alt=""></a></li>
                            <li><a href="https://gmail.com/" title="Messenger"><img src="../img/icon/messenger.png" alt=""></a></li>
                            <li><a href="https://www.tiktok.com/foryou?lang=vi-VN" title="Tiktok"><img src="../img/icon/tik-tok.png" alt=""></a></li>
                          </ul>
                          </li>
                    </ul>
                    </div>
                <div class="col-sm">
                    <h3>ABOUT US</h3>
                    <ul>
                      <li><a href="https://www.facebook.com/profile.php?id=100013900096508" title="Facebook">Trang chủ</a></li>
                      <li><a href="" title="Instagram">Tất cả sản phẩm</a></li>
                      <li><a href="" title="Messenger">Bảng size</a></li>
                      <li><a href="" title="Tiktok">Hệ thống cửa hàng</a></li>
                      </ul>
                      </div>
                      <div class="col-sm">
                        <h3>CHÍNH SÁCH</h3>
                        <ul>
                          <li><a href="https://www.facebook.com/profile.php?id=100013900096508" title="Facebook">Chính sách mua hàng</a></li>
                          <li><a href="" title="Instagram">Chính sách bảo mật</a></li>
                          <li><a href="" title="Messenger">Phương thức thanh toán</a></li>
                          <li><a href="" title="Tiktok">Chính sách đổi trả</a></li>
                          </ul>
                          </div>
                          </div>
                          <div class="coppyright" >
                            © Copyright 2024 
                            <a href="https://github.com/tntgoku/jessica.github.io" title="Bản quyền thuộc về tntgoku">Jessica</a>. All right reserved
                            </div>
                            </div>
    </footer>
<script src="../js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

  </body>
</html>
